<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar| Skypedia</title>
</head>
<body>
    <h1>Daftar Sekarang</h1>
    <p>Sudah punya akun Skypedia? <a href="/login">Masuk</a></p>
    <form action="/register" method="post">
        <label>Email</label><br>
        <input type="text" name="email">
        <br><br>
        <label>Password</label><br>
        <input type="password" name="password">
        <br><br>
        <button type="submit">Daftar</button>
    </form>
    <p>Dengan mendaftar, saya menyetujui <br><a href="">Syarat dan Ketentuan</a> serta <a href="">Kebijakan Privasi</a></p>
</body>
</html>